.slide-wrap {
  height: 100%;
  margin-bottom: 50px;
}

.each-fade {
  width: 100%;
  height: 100%;
}

.image-container {
  width: 100%;
  height: 100%;
}

.each-image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.face-icon {
  font-size: 22px;
  margin-top: 7px;
  margin-right: 12px;
}

.MuiInput-input {
  width: 100%;
  height: 46px;
  border: 1px solid #c2c8cc;
  border-radius: 4px;
  display: block;
  padding: 0px 16px;
  cursor: text;
}

.slide-wrap {
  overflow: visible;
}

.slide-wrap .default-nav {
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
}

.slide-wrap .default-nav:hover {
  background-color: #e3e3e3;
}

.slide-wrap .default-nav[data-type="next"] {
  transform: translateX(90px);
}

.slide-wrap .default-nav[data-type="prev"] {
  transform: translateX(-90px);
}
